@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --circle-bg: #6892f1;
    --bg-grid: #a1a1a11a;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --circle-bg: #2563eb;
    --bg-grid: #a1a1a11a;
  }
}


@layer base {
  html {
    scroll-behavior: smooth !important;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body::-webkit-scrollbar-track {
    padding: 2px 0;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: hsla(var(--border));
  }

  textarea::-webkit-scrollbar-track {
    padding: 2px 0;
  }

  textarea::-webkit-scrollbar {
    width: 8px;
  }

  textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: hsla(var(--border));
  }

}

.bg-grid {
  position: relative;
  overflow: hidden;
  z-index: 30;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
      -webkit-linear-gradient(var(--bg-grid) 1px, transparent 1px),
      -webkit-linear-gradient(90deg, var(--bg-grid) 1px, transparent 1px),
      linear-gradient(var(--bg-grid) 1px, transparent 1px),
      linear-gradient(90deg, var(--bg-grid) 1px, transparent 1px);
    background-size: 4.2em 4.2em;

    -webkit-mask-image: -webkit-radial-gradient(ellipse at center, black 0%, transparent 80%);
    mask-image: radial-gradient(ellipse at center, black 0%, transparent 80%);
  }
}

.circle-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  height: 17.5%;
  border-radius: 50%;
  background: radial-gradient(circle, var(--circle-bg), var(--circle-bg), var(--circle-bg));
  box-shadow: 0 0 50px 20px #ffffff99;
  z-index: -10;
  filter: blur(100px);
}

@media only screen and (min-width: 320px) {
  .bg-grid::before {
    left: -8px;
  }
}

@media only screen and (min-width: 375px) {
  .bg-grid::before {
    left: 17px;
  }
}

@media only screen and (min-width: 425px) {
  .bg-grid::before {
    left: -24px;
  }
}

@media only screen and (min-width: 640px) {
  .bg-grid::before {
    left: 17px;
  }
}


@media only screen and (min-width: 1024px) {
  .bg-grid::before {
    left: 6px;
  }
}

@media only screen and (min-width: 1280px) {
  .bg-grid::before {
    left: 28px;
  }
}