@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

@import "globals.scss";
@import "keyframes.scss";
@import "medias.scss";

header {
  #logo {
    animation: FadeIn 0.2s linear both, SlideInFromTop 0.4s linear both,
      BounceInFromTop 0.4s linear both;
  }
}

#welcome {
  #avatar {
    animation: FadeIn 0.3s 0.5s linear both,
      SlideInFromTop 0.3s 0.5s linear both;
  }

  #me-introduction {
    animation: SlideInFromBottom 0.3s linear both, FadeIn 0.5s linear both;
  }

  #me-description {
    animation: FadeIn 0.3s 0.25s linear both,
      SlideInFromLeft 0.4s 0.25s linear both,
      BounceInFromLeft 0.4s 0.25s linear both;
  }
}

.hidden-section {
  opacity: 0;
}

.show-section {
  opacity: 1 !important;

  * {
    animation: FadeIn 0.3s 0.35s linear both, SlideInFromBottom 0.4s 0.35s !important;
  }

  // .section-header {
  //   animation: FadeIn 0.3s linear both, SlideInFromLeft 0.4s linear both,
  //     BounceInFromLeft 0.4s linear both;
  // }

  // .section-footer {
  //   animation: FadeIn 0.3s linear both, SlideInFromRight 0.4s linear both,
  //     BounceInFromRight 0.4s linear both;
  // }

  // p {
  //   animation: SlideAndFadeInFromLeft 0.5s linear both;
  // }

  #stack-icons {
    animation: FadeIn 1s 1s linear both;
  
    .scale-xs {
      animation: BounceScaleXS 5s ease-in-out both infinite !important;
    }
  
    .scale-sm {
      animation: BounceScaleSM 5s ease-in-out both infinite !important;
    }
  
    .scale-md {
      animation: BounceScaleBase 5s ease-in-out both infinite !important;
    }
  
    .scale-lg {
      animation: BounceScaleLG 5s ease-in-out both infinite !important;
    }
  
    .scale-xl {
      animation: BounceScaleXL 5s ease-in-out both infinite !important;
    }
  }
}
