@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}

.avatar-wobble {
  border: 2px solid #147efb;
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: wobble 6s ease-in-out alternate infinite;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #f9f9f9;
  color: #2d2e32;
  font-family: "Poppins", "Inter";
}
