@keyframes FadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes SlideInFromTop {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromBottom {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromLeft {
  from {
    transform: translateX(-15px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromRight {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes BounceInFromTop {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}

@keyframes BounceInFromBottom {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes BounceInFromLeft {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px)
  }
}

@keyframes BounceInFromRight {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px)
  }
}



@keyframes BounceScaleXS {
  0%,
  100% {
    transform: scale(0.5) translateY(0px);
  }
  50% {
    transform: scale(0.5) translateY(-15px);
  }
}

@keyframes BounceScaleSM {
  0%,
  100% {
    transform: scale(0.75) translateY(0px);
  }
  50% {
    transform: scale(0.75) translateY(-15px);
  }
}

@keyframes BounceScaleBase {
  0%,
  100% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1) translateY(-15px);
  }
}

@keyframes BounceScaleLG {
  0%,
  100% {
    transform: scale(1.25) translateY(0px);
  }
  50% {
    transform: scale(1.25) translateY(-15px);
  }
}

@keyframes BounceScaleXL {
  0%,
  100% {
    transform: scale(1.5) translateY(0px);
  }
  50% {
    transform: scale(1.5) translateY(-15px);
  }
}












@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes SlideAndFadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes SlideAndFadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes SlideAndFadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  50% {
    opacity: 1;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes SlideAndFadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  50% {
    opacity: 1;
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
