@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}

.avatar-wobble {
  border: 2px solid #2f80ed;
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: wobble 6s ease-in-out alternate infinite;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #f9f9f9;
  color: #2d2e32;
}

* {
}
